
.home-div{
    min-height: 100vh;
    background-color: rgb(234, 0, 255);
    background-image: linear-gradient(to bottom right, #5f3900, #d37f02);
    background-color: #5f3900;
}

.home-elements{
    display: flex;
    gap: 1rem;
    justify-self: center;
    align-items: center;
    flex-direction: row;
}

.hero-pic{
    height: 3rem;
}

.hero-pic-div{
    border: 1px solid green;
    flex: 1;
}

.home-con-div{
    border: 1px solid blue;
    word-wrap: break-word;
    flex: 1;
}

.home-content{
    font-size: 3rem;
}